
.header-container{
    height: 70px;
    width: auto;
}
.search button{
    background-color: rgb(246, 193, 93);
    border: none;
    width: 50px;
    height: 50px;
}
.search select{
    width: 50px;
    height: 50px;
    background-color: rgb(168, 166, 166);
    border: none;
}
.search option{
    background-color: #fff;
}
input[type="search"]{
    width: 550px;
    height: 50px;
    border: none;
}
.main-container{
    display: flex;
    height:auto;
}
.sidebar{
    flex:1;

}
.content{
    flex:4;
}
.nav-logo .logo{
    height: 30px;
    display: inline;
}
.text-end img{
    height: 19px;
} 
.cart img{
    height: 50px;
}
/* ================================================ */


.product_container{
    height:auto;
    margin: 5px ;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.189);
}
.product_container img{
    height: 100px;
    width: 100px;
    object-fit: contain;

}

.product_container p{
    margin: 0;
    color: rgba(0, 0, 0, 0.653);
}
.checked {
    color: orange;
}
.unchecked {
    color: rgb(144, 138, 138);
}
.prime img{
    height:29px;
    width:70px;

}

.prime_1 img{
    height: 15px;

}
.add_cart{
    background-color:#f0dc22;
    border: none;
    border-radius: 10px;
}
@media screen and (max-width:1400px){
    
    .section2{
        background-color: blue;
        height: 1000px;
    }
 
    input[type="search"]{
        width: auto;
    }
    header{
        font-size: small;
    }
    .logo{
        height:15px;
        width:90px;
    }
    .header-container{
        width:auto;
   }
   .header_2{
    font-size: smaller;
   }
}

@media screen and (max-width:1000px) {
    .header-container{
        height: 100px;
    }
    body{
        font-size: small;
    }
    
    
}
@media screen and (max-width:800Px) {
    .ads{
        display: none;
    }
}