
.search button{
    background-color: rgb(246, 193, 93);
    border: none;
    width: 4vw;
    height: 5vh;
}
.search button:hover{
    background-color: rgb(244, 173, 42);
   
}
.search select{
    width: 5vw;
    height: 5vh;
    background-color: rgb(168, 166, 166);
    border: none;
}
.search select:focus-visible{
    width:6vw;
}

.search option{
    background-color: #fff;
}
input[type="search"]{
    width: 20vw;
    height: 5vh;
    border: none;
}
.main-container{
    display: flex;
    height:auto;
}
.sidebar{
    flex:1;

}
.content{
    flex:4;
}
.nav-logo{
    height: 7vh;
    width: 7vw;
}
.nav-logo .logo{
    height: 4vh;
    display: inline;
}
.text-end img{
    height: 3vh;
} 
.cart img{
    height: 5vh;
}
.section2{
    background-color:rgb(58, 70, 71);
}
/* ================================================ */


.product_container{
    height:auto;
    margin: 5px ;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.189);
}
.product_container img{
    height: 20vh;
    width: 8vw;
    object-fit: contain;

}

.product_container p{
    margin: 0;
    color: rgba(0, 0, 0, 0.653);
}
.checked {
    color: orange;
}
.unchecked {
    color: rgb(144, 138, 138);
}
.prime img{
    height:5vh;
    width:5vw;

}

.prime_1 img{
    height: 2vh;

}
.add_cart{
    background-color:#f0dc22;
    border: none;
    border-radius: 10px;
}
.header_2{
    font-size: smaller;
   }
@media screen and (max-width:1400px){
    
    input[type="search"]{
        width: auto;
    }
   
    .logo{
        height:4vh;
        width:9vw;
    }
    
   .header_2{
    font-size: smaller;
   }
}

@media screen and (max-width:1000px) {
    
    body{
        font-size: small;
    }
    
    
}
@media screen and (max-width:800Px) {
    .ads{
        display: none;
    }
}